body {
  background-color: #1f1f1f; /* Darker background */
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #ccc; /* Lighter text */
}

.Chat {
  text-align: left; /* Align text to the left for code readability */
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
  background-color: #282828; /* Darker chat background */
  width: 1000px;
  max-width: 80%; /* Adjust width for responsiveness */
  border-radius: 10px;
}

h1 {
  color: #64ffda; /* Teal header text */
  border-bottom: 2px solid #64ffda; /* Teal bottom border */
  padding-bottom: 10px;
}

.inlineInputs {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 20px;
}

textarea {
  margin-bottom: 10px; /* Add margin between input boxes */
  padding: 10px;
  border: 1px solid #64ffda; /* Teal border */
  border-radius: 5px;
  resize: none; /* Prevent resizing of the textarea */
  height: 40px; /* Set the initial height to 2 lines */
  color: #ccc; /* Lighter text color */
  background-color: #333; /* Darker textarea background */
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #64ffda; /* Teal border */
  border-radius: 5px;
  margin-right: 10px;
  color: #ccc; /* Lighter text color */
  background-color: #333; /* Darker input background */
}

.colorPreview {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border: 1px solid #64ffda; /* Teal border */
  border-radius: 3px;
}

button {
  background-color: #64ffda; /* Teal button background */
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-left: 30px;
}

button:hover {
  background-color: #4db6ac; /* Darker teal on hover */
}

.redBtn {
  background-color: #ff6464; /* Dark red button */
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.redBtn:hover {
  background-color: #c53d3d; /* Darker red on hover */
}

.Chat > section {
  border: 1px solid #444; /* Darker border */
  border-radius: 10px;
  overflow-y: auto;
  height: 300px;
  padding: 10px;
  margin-top: 20px;
}

.Chat > section > div {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #444; /* Darker background */
  border-radius: 5px;
}

.Chat > section > div strong {
  color: #64ffda; /* Teal text color */
}
